/* 메뉴 */

.navmenu {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100vw;
  display: flex;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  padding: 0;
  margin: 0px auto;
  
}
.temp {
  line-height: 100px;
  width: 10vw;
  text-align: center;

}
.navmenu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  width: 75vw;
  padding: 0;
  text-align: center;
}
.navmenu li {
  color: #FFF;
  width: 10%;
  height: 100px;
  line-height: 100px;
}
.navmenu li:hover {
    font-size: 200%;
    border-bottom: 5px solid red;
    transform: translateY(3px);
    transition: 0.1s ease-out;

}


